.formLogin {
  display: flex;
  flex-direction: column;
}

.buttonLogin {
  width: 60px;
  height: 40px;
  border: none;
  background-color: rgb(86, 35, 255);
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  align-self: flex-end;
}

.divLogin {
  justify-content: center;
  display: flex;
  margin-right: 20px;
  margin-left: 10px;
}

.formLogin input {
  padding: 7px;
  margin-bottom: 5px;
  width: 230px;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 2px;
}

.formLogin label {
  margin-top: -10px;
}

.formLogin label p {
  margin-right: 10px;
  margin-bottom: 5px;
}
